<div class="tbutton_icongroup">
    <div class="src-rest-topbtn justify-content-between mb-0">
        <div class="page_name_title">
            <h1>Change Password</h1>
        </div>  
    </div>
</div>
<form [formGroup]="ChangePasswordForm">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="odpassword" class="form-label">Old Password<span class="text-danger">*</span></label>
                <div class="inputwithicon">
                    <input [type]="fieldTextType ? 'text':'password'" class="form-control" id="odpassword"
                        formControlName="Oldpassword" placeholder="*******"
                        [class.is-invalid]="ChangePasswordForm.controls['Oldpassword'].invalid && (ChangePasswordForm.controls['Oldpassword'].dirty || ChangePasswordForm.controls['Oldpassword'].touched)">
                    <span class="inputicon"
                        [ngClass]="{'sr-eye-icon': fieldTextType, 'sr-eye-line-icon': !fieldTextType}"
                        (click)="fieldTextType = !fieldTextType"></span>
                </div>
                <div *ngIf="ChangePasswordForm.controls['Oldpassword'].invalid && (ChangePasswordForm.controls['Oldpassword'].dirty || ChangePasswordForm.controls['Oldpassword'].touched)"
                    class="text-danger">
                    <div *ngIf="ChangePasswordForm.controls['Oldpassword'].errors?.['required']">Old password is
                        required</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="nwpassword" class="form-label">New Password<span class="text-danger">*</span></label>
                <div class="inputwithicon">
                    <input [type]="fieldTextType1 ? 'text':'password'" class="form-control" id="nwpassword"
                        formControlName="Newpassword" placeholder="*******" autocomplete="off"
                        [class.is-invalid]="ChangePasswordForm.controls['Newpassword'].invalid && (ChangePasswordForm.controls['Newpassword'].dirty || ChangePasswordForm.controls['Newpassword'].touched)">
                    <span class="inputicon"
                        [ngClass]="{'sr-eye-icon': fieldTextType1, 'sr-eye-line-icon': !fieldTextType1}"
                        (click)="fieldTextType1 = !fieldTextType1"></span>
                </div>
                <div *ngIf="ChangePasswordForm.controls['Newpassword'].invalid && (ChangePasswordForm.controls['Newpassword'].dirty || ChangePasswordForm.controls['Newpassword'].touched)"
                    class="text-danger">
                    <div *ngIf="ChangePasswordForm.controls['Newpassword'].errors?.['required']">New password is
                        required</div>
                    <div class="text-danger" *ngIf="ChangePasswordForm.controls['Newpassword'].errors?.['pattern']">
                        Password must contain at least one uppercase letter, one lowercase letter, one digit, and be at
                        least 8 characters long. Spaces are not allowed.</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="cfmpassword" class="form-label">Confirm Password<span class="text-danger">*</span></label>
                <div class="inputwithicon">
                    <input [type]="fieldTextType2 ? 'text':'password'" class="form-control" id="cfmpassword"
                        formControlName="Cnfpassword" placeholder="*******" autocomplete="off"
                        [class.is-invalid]="ChangePasswordForm.controls['Cnfpassword'].invalid && (ChangePasswordForm.controls['Cnfpassword'].dirty || ChangePasswordForm.controls['Cnfpassword'].touched)">
                    <span class="inputicon"
                        [ngClass]="{'sr-eye-icon': fieldTextType2, 'sr-eye-line-icon': !fieldTextType2}"
                        (click)="fieldTextType2 = !fieldTextType2"></span>
                </div>
                <div *ngIf="ChangePasswordForm.controls['Newpassword'].valid && ChangePasswordForm.controls['Cnfpassword'].invalid && (ChangePasswordForm.controls['Cnfpassword'].dirty || ChangePasswordForm.controls['Cnfpassword'].touched)"
                    class="text-danger">
                    <div *ngIf="ChangePasswordForm.controls['Cnfpassword'].errors?.['required']">Confirm password is
                        required</div>
                    <div *ngIf="ChangePasswordForm.controls['Cnfpassword'].errors?.['matchingPasswords']">Passwords do
                        not match.</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-end">
            <a class="btn px-4" href="javascript:void(0);" (click)="OnSubmitForm()">Save</a>
        </div>
    </div>
</form>