<div class="table-responsive datatablemain w-100">
    <table class="table table-bordered">
        <thead>
            <tr class="placeholder-glow">
                <th class="placeholder-glow"> <span class="placeholder"></span> </th>
                <th class="placeholder-glow"> <span class="placeholder"></span> </th>
                <th class="placeholder-glow"> <span class="placeholder"></span> </th>
                <th class="placeholder-glow"> <span class="placeholder"></span> </th>
                <th class="placeholder-glow"> <span class="placeholder"></span> </th>
                <th class="placeholder-glow"> <span class="placeholder"></span> </th>
                <th class="placeholder-glow"> <span class="placeholder"></span> </th>
                <th class="placeholder-glow"> <span class="placeholder"></span> </th>
                <th class="placeholder-glow"> <span class="placeholder"></span> </th>
                <th class="placeholder-glow"> <span class="placeholder"></span> </th>
            </tr>
        </thead>
        <tbody>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
            <tr class="placeholder-glow">
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span> </td>
                <td> <span class="placeholder"></span> </td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
                <td><span class="placeholder"></span></td>
            </tr>
        </tbody>
    </table>
</div>